.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  font-family: "Alatsi";
  font-size: 22px;
}
.title {
  text-align: center;
}

.subheading {
  text-align: center;
}

.card {
  border: grey 2px solid;
  display: flex;
  align-items: center;
  width: 400px;
  margin-top: 25px;
  padding-bottom: 10px;
  padding-left: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card img {
  width: 100px;
}
